/* ===== Navbar ===== */
body{
  font-family: 'Open Sans', sans-serif;
}

.header {

    width: auto;
  
    height: 421px;
  
    flex-grow: 0;
  
    margin: 0 0 260px;
  
    padding: 0 0 3px;
  
    background-image: url("./images/bg-hero-desktop.svg") ;
  
  }

    .site-navbar {
        /* margin-top: 30px; */
        /* margin-bottom: 0px; */
        z-index: 1999;
        position: relative;
        top: 0;
        width: 100%;
        padding: 1rem;
        position: absolute;
        
    }


    .nav-container{
        display: flex;
        flex: center;
        padding-left: 70px;
        padding-right: 70px;
    }

    .align-items-center {
      -webkit-box-align: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
    }

    .position-relative {
      position: relative !important;
    }


    .try-free{
      width: 200px;

      height: 48px;
    
      border-radius: 24px;
    
      box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    
      background-color: #fff;
    }
  

.row {
    display: flex;
    flex-wrap: wrap;
	
}

.row>* {
    flex: 1 1 160px;
}

.col-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.text-right {
	text-align: right !important;
  margin-left: 400px;   
}

.brand-img{
    height: 25px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
}

.box>* {
    flex: 1 1 160px;
}

.mockup{
    height: 100%;
    width: 100%;
}

.build-box{
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

.build-box>*{
    flex: 1 1 80px;
}

.Build-The-Community {
    width: 536px;
    height: 120px;
    margin: 0 0 32px;
    padding: 84.5px 88px 11.4px 424px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #00252e;
  }

  .grow{
    height: 100%;
    width: 100%;
  }

  .rectangle {
    width: auto;
    height: 440px;
    flex-grow: 0;
    margin: 160px 104px 40px;
    padding: 0 16px 0 120px;
    border-radius: 16px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
  }

  .rectangle-2 {
    width: auto;
    height: 440px;
    flex-grow: 0;
    margin: 40px 104px;
    padding: 0 29px 0 109px;
    border-radius: 16px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
  }

  .flowing{
    height: 100%;
    width: 100%;
  }

  .users{
    height: 100%;
    width: 100%;
  }

  .rectangle-3 {
    width: 30%;
    height: 180px;
    margin: 160px 320px 322px;
    padding: 56px 127px 52px 132px;
    border-radius: 15px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
  }

  .rectangle-3-content{
    margin-top: 35px;
    margin-left: 5px;
  }

  .rectangle-content{
    margin-right: 30px;
    margin-top: 110px;
  }

  .parent{
    position: relative;
    width: auto;
  }

  .child1{
    position: absolute;
    top: 40px;
    z-index: 100;
  }
  .child2{
    position: absolute;
    z-index: 200;
  }


  /* .Build-The-Community {
    
  } */
.get-started{
    color: #fff;
    width: 280px;
    height: 56px;
    margin-left: 35px;
    padding: 17px 69px 20px 70px;
    border-radius: 28px;
    box-shadow: 0 6px 13px 0 rgba(0, 37, 46, 0.22);
    background-color: #ff52c1;
     
}

  .footer {
    width: 1049px;
    height: 318px;
    margin: 344px 0 0;
    padding: 144px 78px 64px 120px;
    background-color: #00252e;
  }

  .no-style-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .color_logo_transparent-footer {
    width: 152px;
    height: 24px;
    flex-grow: 0;
    margin: 0 357px 31px 0;
    background-color: #fff;
  }

 span {
    width: 110px;
    height: 24px;
    margin: 1px 0 0 16px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
    

 .nav-col{
    box-sizing: border-box;
    color: rgb(249, 249, 250);
    flex-basis: 160px;
    flex-grow: 1;
    flex-shrink: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    max-width: 200px;
    min-width: 160px;
    padding-right: 16px;
  }

  .container{
      display: flex;
      align-items: center;
      margin-left: 150px;
      
  }

  .social-icons{
     margin: 4px;
  }